@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');

@keyframes moving {
    0%{
        background-position: 0 0, 0 0, bottom left;
    }
	
    100%{
        background-position: 100% 0, 100% 0, bottom left;
    }
}

body{
    background: rgb(215,255,235); /*caso alguma coisa dê errado, ele segura o fundo com essa cor*/
    background-image:
        url('../imgs/estrelas-juntas-s-faixa.png'),
        url('../imgs/layer04_Path.png'),
        url('../imgs/layer01_Clouds_1.png'),
        linear-gradient(0deg, rgba(166,128,160,1) 0%, rgba(0,54,87,1) 100%);
    background-repeat: no-repeat;
    background-position: top, top, bottom;
    background-size: auto, 100vw, 100vw;            
    height: 2000px;
    animation: moving 20s infinite alternate;
}

/* barra */
::-webkit-scrollbar{
    width: 8px;
    background: white;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #A680A0;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

/* pagina */

.cabecalho {
    display: flex;
    flex-wrap: flex;
    justify-content: flex-end;
    align-items: stretch;
    padding-top:20px;
}

/* popover */
.titulo-popover {
    font-family: 'Londrina Solid', cursive;
    color: rgb(29, 29, 29);
    font-size: 20px;
}

.labels-form {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.botao-entrar {
    background-color:#ed484e;
    margin:5px;
    padding:8px;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1pt;
    color: rgb(211, 210, 210);
}


.botao-login-adm {
    background-color:#102857;
    margin:5px;
    padding:8px;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1pt;
    color: rgb(211, 210, 210);
    
}

.botao-login-adm:hover {
    padding:10px;
    color: #60c8d5;
}

.botao-login-aluno {
    background-color:#102857;
    margin:5px;
    padding:8px;
    font-family: 'Londrina Solid', cursive;
    letter-spacing:2pt;
    font-size:17px;
    color: rgb(211, 210, 210);
}

.botao-login-aluno:hover {
    padding:10px;
    color: #60c8d5;
}

.logo-centro{
    margin-left:auto;
    margin-right:auto;
}
