@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');

@keyframes moving {
    0%{
        background-position: 0 0, bottom left, top left;
    }
	
    100%{
        background-position: 100% 0, bottom left, top left;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(215,255,235); /*caso alguma coisa dê errado, ele segura o fundo com essa cor*/
    background-image:
        url('imgs/layer04_Clouds.png'),
        url('imgs/layer01_Ground.png'),
        linear-gradient(180deg, rgba(95,200,213,1) 0%, rgb(187, 224, 245) 100%);;
    background-repeat: repeat-x, repeat-x;
    background-position: top, bottom;
    background-size: 80vw, 40vw;      
    height: 100%;
    animation: moving 8s infinite alternate;
}

/* barra */
::-webkit-scrollbar{
    width: 8px;
    background: white;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(59, 172, 187);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
.container-especializado{
	padding:0;
}

.cabecalho {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top:10px;
    background-color: transparent;
    height: 16vh;
}

.texto-perfil-header{
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1pt;
    color: rgb(211, 210, 210);
    font-size:26pt;
    margin-right:10pt;
    cursor:pointer;
}

.icon-risecode-header{
    width:130px;
    height:80;
}

.modal-content-perfil{
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(221, 221, 221);
}

.titulo-modal-perfil{
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1pt;
    color: rgb(59, 59, 59);
    font-size:26pt;
    margin-top:20px;
}

.avatar-modal{
    width:12vw;
    height: 15vw;
}

.badge-nome{
    background-color: rgba(102, 153, 153, 0.301);
    color: rgb(88, 91, 132);
    font-size:14pt;
    margin-top: 20px;
    margin-bottom:20px;
}

.gate {
    cursor: pointer;
    width: 45vh;
    height: 45vh;
    filter: invert(30%) sepia(70%) saturate(2600%) hue-rotate(346deg) brightness(130%) contrast(78%);
    position: absolute;
    opacity: .7;
    z-index: 10;
    top: 2vh;
}

#gate2 {
    filter: invert(30%) sepia(70%) saturate(2600%) hue-rotate(200deg) brightness(130%) contrast(78%);
    left: 30vh;
}

.ball {
    cursor: move;
    width: 10vh;
    height: 10vh;
    position: absolute;
    z-index: 11;
    top: 48vh;
}


#ball2{
    left: 12vh;
}

#ball3{
    left: 24vh;
}

#ball4{
    left: 36vh;
}

#terminar{
    left: 60vh;
    top: 48.5vh;
    position: absolute;
    background-color: darkcyan;
    width: 20vh;
    height: 5vh;
}

.espaco{
    margin-top: 1em;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vh;
    height: 100vh;
}

.game{
    position: relative;
    width: 100vh;
    height: 60vh;
    background-image: url('imgs/fundoJogo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;   
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 5px solid white;
    border-radius: 10px;
}

.jogo{
    position: relative;
    display:none;
    margin-right: 75vh;
}

.avisos{
    margin-top: 15vh;
}

#play{
    cursor: pointer;
}

#perdeu{
    cursor: pointer;
    display: none;
}

.listas{
    font-size: 3vh;
    margin-top: -8vh;
    display: none;
}
